
	
			
			
                <div id="contactflex" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom" class="contact-text">
                    <h5>Puedes escribirme a:</h5>
                    <p>ferreira.denisse@gmail.com</p>
					<a title="correo"><img id="correo" src="../../../assets/img/email.png" class="contact-email"  alt="img correo" /></a> 
                    <h5>O puedes encontrarme en :</h5>
				
							<a id="linkedin" title="Linkedin" href="https://www.linkedin.com/in/denisse-ferreira-a87a6718b/" target="_blank"><img class="aniview"  src="" alt="url linkedin" /></a>
							<a id="github" title="Github" href="https://github.com/DenisseFerreira" target="_blank"><img class="aniview"  src="" alt="url github" /></a>
					</div>

 
