<div id="contactflex" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="container">
  <div class="row  contact-text">
    <section class="col-md-12 ">

      <h5>Puedes escribirme a:</h5>

      <h6>ferreira.denisse@gmail.com</h6>
      <a title="correo"><img id="correo" src="../../../assets/img/icon/icons8-email-150.png" class="contact-email"
          alt="img correo" /></a>

      <h5>O puedes encontrarme en :</h5>

      <a id="linkedin" title="Linkedin" href="https://www.linkedin.com/in/denisse-ferreira/" target="_blank"><img
          class="aniview" src="../../../assets/img/icon/icons8-linkedin-100.png" alt="url linkedin" /></a>
      <a id="github" title="Github" href="https://github.com/DenisseFerreira" target="_blank"><img class="aniview"
          src="../../../assets/img/icon/icons8-github-100.png" alt="url github" /></a>
   
    </section>
  </div>
</div>
