     
     <div class="container">
     <section id="about" class="row">
         <div class="col s12 m6">
           <picture>
             <img class="profilephoto" data-aos="zoom-in" src="../../../assets/img/perfil3.jpeg" id="profilephoto"
               alt="Fotografía de perfil" />
           </picture>
         </div>

         <div data-aos="fade-left" class="col s12 m6 text-about">
           <h5>Soy <span class="color-letra">Front-End Developer</span> y Enfermera. </h5>
           <h5>
             He descubierto un mundo nuevo en la tecnología que me ha cautivado.
             Responsable, proactiva, dinámica y de trabajo en equipo. Tengo interés en
             acrecentar mi experiencia laboral y formativa mediante la entrega de servicios
             y productos de calidad.
           </h5>

         </div>

       </section>
      </div>