       <section id="about" class="row" >
       
         <picture class="col s12 m12 l4">
           <img class="aniview" data-aos="zoom-in" src="" id="profilephoto" alt="Fotografía de perfil" />
         </picture>
        
           
            <div data-aos="fade-left" class="col s12 m12 l8 aniview">
            <h5>Soy <span class="color-letra">Front-End Developer</span> y <span class="color-letra">Enfermera</span>. </h5>
           <h5>
            He descubierto un mundo nuevo en la tecnología que me ha cautivado. 
            Responsable, proactiva, dinámica y de trabajo en equipo. Tengo interés en 
            acrecentar mi experiencia laboral y formativa mediante la entrega de servicios
             y productos de calidad. 
           </h5>
         
        </div>
      
       
       </section>
