@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");

.profilephoto{
    width: 20em;
}
.text-about{
    padding: 10em;
    font-family: 'Livvic', sans-serif;
    
}
.color-letra{
    color:  #8A0829;
    font-weight: bold;
}