.home-name{
    background: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;             

    justify-content: center;
    align-items: center; 
}

body { 
	font-family: monospace; 
	background: black;
}
.contenedor {
	margin: auto;
	display: table;
}

h1 { 
	position: relative; 
	float: left;
	background: black;
	color: #fff;
	font-size: 2.5em;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
    background: black;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
