

  <div class="card-deck" data-aos="flip-up">
    <div *ngFor= 'let item of MyProyects'   class="card">
     <img src="../../../assets/img/{{item.imagen}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Desarrolado con: {{item.technology}}</small>
      </div>
      <div class="card-action">
        <a href="{{item.demo}}" target="_blank">DEMO</a>	
        <a href="{{item.codigo}}" target="_blank">CÓDIGO</a>	
    </div>
    </div>
  </div>
