

  <div class="card-deck" data-aos="flip-up">
    <div class="card">
      <img src="../../../assets/img/redsocial.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Social-Network</h5>
        <p class="card-text">Aplicacion Web de red social</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Desarrollado con javascript</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/md-links.png" class="card-img-project" alt="...">
      <div class="card-body">
        <h5 class="card-title">denisse-md-links</h5>
        <p class="card-text">Libreria para archivos markdown</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Libreria en NPM</small>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/burger.png" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Burger Queen </h5>
        <p class="card-text">Aplicacion para cadena de restorant</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Desarrollado con Angular</small>
      </div>
    </div>
  </div>
