@import url("https://fonts.googleapis.com/css?family=Livvic&display=swap");


/* .skills-img{
    width: 5em;
    display: inline-block;
} */

/* .img{
    width: 10em;
    display: inline-block;
} */

.card{
    margin: 3%;
    width: 50%;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    color: #151515;
}

.title{
    margin: 3%;
    float: left;
    font-family: 'Livvic', sans-serif;
    color: #423b3b;
}
/* .card-img-top{
   
    width: 15%;
    margin: 6em;
    text-align: center;

} */