<!-- <picture class="col s12 m12 l4" class="skills-img " data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000"  > -->

<!-- <div >
<div class="clearfix visible sm-block" class="skills-img">
 <article>
        <i class="fab fa-angular"></i>

        <h1>En construccion</h1>

</article>

</div>  
</div> -->

<!-- </picture> -->

<div class="container row">
<div *ngFor= 'let item of Myskills' class="card col-md-3">
  <div class="card-img-top">    <img src="../../../assets/img/icon/{{item.url}}"  alt="..."> </div>

    <div class="card-body">
      <p class="card-title">{{item.title}}</p>
      <p class="card-text">{{item.description}}</p>
    </div>
  </div>
</div>