<!-- <picture class="col s12 m12 l4" class="skills-img " data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000"  > -->
<div >
<div class="clearfix visible sm-block" class="skills-img">
 <article>
    <img class="img" data-aos="zoom-in" src="../../../assets/img/angular.png" id="profilephoto" alt="Fotografía de perfil" />


    <img class="img" data-aos="zoom-in" src="../../../assets/img/bootstrap.png" id="profilephoto" alt="Fotografía de perfil" />


    <img class="img" data-aos="zoom-in" src="../../../assets/img/css.png" id="profilephoto" alt="Fotografía de perfil" />
 

    <img class="img" data-aos="zoom-in" src="../../../assets/img/firebase.png" id="profilephoto" alt="Fotografía de perfil" />
</article>
<article>
    <img class="img" data-aos="zoom-in" src="../../../assets/img/git.png" id="profilephoto" alt="Fotografía de perfil" />


    <img class="img" data-aos="zoom-in" src="../../../assets/img/github.png" id="profilephoto" alt="Fotografía de perfil" />


    <img class="img" data-aos="zoom-in" src="../../../assets/img/js.png" id="profilephoto" alt="Fotografía de perfil" />

    <img class="img" data-aos="zoom-in" src="../../../assets/img/node.png" id="profilephoto" alt="Fotografía de perfil" />
</article>

</div>  
</div>
<!-- </picture> -->
